*{
    margin: 0 auto;
}
.iv{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    margin: 0 auto;
    width: 800px;
}
#canvas{
    /*border: solid 10px black;*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}